@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html,
body {
    font-family: "Raleway", sans-serif !important;
}
h1,
h2 {
    font-family: "Parisienne", cursive;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
